<% content_for :title, "New workflow execution event" %>

<h1>New workflow execution event</h1>

<%= render "form", workflow_execution_event: @workflow_execution_event %>

<br>

<div>
  <%= link_to "Back to workflow execution events", workflow_execution_events_path %>
</div>
